* {
    margin :0;
    padding:0;
    box-sizing: border-box;
}



.fuenteGrande{
    font-size: map-get($estiloTituloPrincipal, tamanioFuente)
}
/*clase para aplicar un tamaño mediano a una fuente*/
.fuenteMediana{
    font-size: 30px;
}
/*clase para aplicar un tamaño chico a una fuente*/
.fuenteChica{
    font-size: 15px;
    font-weight: bold;
}
/*clase para aplicar negrita a un texto*/
.fuenteEnNegrita{
    font-weight:bold;
}



/*clase para aplicar interlineado a un parrafo*/
.aplicarInterlineado{
    line-height: 2px;
}

/*Coloca margen superior en cero*/
.margenSuperiorEnCero{
    margin-top: 0px;
}
.TextoDerecha{
    text-align: right;
}
.izquierdaTexto{
    text-align:left
}
.centrarImagen{
    display:block;
    margin:auto;
}
.fuenteGeneral{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.aplicarFlexBox{
    display :flex;
}
.aplicarFlexBoxRow{
    flex-direction:row;
    justify-content:center;
    align-items: center;
    justify-items: center;
}

.aplicarFlexBoxColumn{
    flex-direction:column;
    justify-content:center;
}
.aplicarFlexDirectionHorizontal{
    flex-direction: row;
    justify-content:flex-end;
}
.aplicarflexBoxWrap{
    flex-wrap: wrap;
}
.aplicarMargenSuperioInferior{
    margin-top: 1px;
}

/*Clase para aplicar estilo al cuadrante del titulo principal*/
.estiloTituloPrincipal{
    background-color: map-get($estiloTituloPrincipal, colorFondo);
    background-size: 80px;
    height: map-get($estiloTituloPrincipal, altura);
} 

/*Clase para centrar texto*/
.centrarTexto{
    text-align: map-get($estiloTituloPrincipal, alineacionTexto );
}

.colorTituloPrincipal{
    color:map-get($estiloTituloPrincipal,colorFuente);
}

.boton {
	width:200px;
	height:50px;
	background-color:white;
	text-align:center;
	color:black;
	border-radius:20px;
	border:1px solid black;
}

.comentarioImagen{
	@extend .fuenteEnNegrita;
	@extend .centrarTexto;
}

.subComentarioImagen{
	@extend .fuenteEnNegrita;
	@extend .centrarTexto;
    font-size: 0.75rem;
}

@mixin flexRowCentrado{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.aplicarCentradoTitulo {
   @include flexRowCentrado;
}
/*clase para aplicar a LISTAS sin viñetas ni numeros */
.listaSinVinietas{
    list-style: none
}
/*clase para aplicar un color especifico a un fondo*/
.body{
    background-color:cornflowerblue;
}
/*clase para aplicar una familia de fuentes*/
.fuenteExterna{
    font-family: 'Courier New', Courier, monospace;
}

.estiloTituloPrincipal background-image{
    text-align: center;
}
.estiloTituloSecundario{
    color: black;
    height: 10px;
    // margin-bottom: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
/*Coloca una imagen e indica que no la misma no se repita a lo ancho de la pagina*/
.colocarImagenFondoTitulo{
    background-image:url("../img/LogoEmpresa/android-chrome-192x192.png");
    background-repeat: no-repeat;
    background-size: 60px;
} 

.AplicarMargenSuperiorParrafo{
    margin-top: 20px;
}

.aplicarMargen{
    margin: 10px;
}

.centrarTextoConPadding{
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
}

.tamanioLogo{
    width: 98px;
}
.tamanioSeccionProductos{
    width: 250px;
    padding: 10px;
    /* background-color: beige; */
}

.tamanioImagenRentabilidad{
    width: 750px;
    padding: 10px;
}

.tamanioImagenQuienesSomos{
    width: 170px;
    height: 130;
    padding: 12px;
 }

#itemsRIGS{
    flex-direction: row;
    justify-content:center;
}
.ModificarMargenDerecho{
    margin: 50px;
}
.centrarImagenLogo{
    display:grid;
    justify-content: center;
    align-items: center;
}

.card1:hover{
    transform: scale(1.1);
}

.card2:hover{
    transform: scale(1.1);
}
.card3:hover{
    transform: scale(1.1);
}

.card1Servicios:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.hoverImagen:hover{
    transform: scale(1.1);
}

li:hover{
    font-weight: bold;
}

.banner{
    animation-duration: 1s;
    animation-name: banner;
}

.border {
    border: 1px solid beige;
}
