$altsFooter: (
    facebook:  "Icono para acceso a FaceBook",
    WUP: "Icono para acceso a Whatapp",
    Instagram:  "Icono para acceso a Instagram",
    youtube: "Icono para acceso a Youtube",
    twitter: "Icono para acceso a Twitter",
    mail: "Icono para acceso a Mail"
);




